<form action="{% url 'payment_success' %}" method="POST">
    {% csrf_token %}
    <script
        src="https://checkout.razorpay.com/v1/checkout.js"
        data-key="{{ razorpay_key }}"
        data-amount="{{ amount }}"
        data-currency="INR"
        data-order_id="{{ order_id }}"
        data-buttontext="Pay Now"
        data-name="Cloud Fashion"
        data-description="Order Payment"
        data-theme.color="#F37254">

        <form action="{% url 'payment' %}" method="POST">
    {% csrf_token %}
    <button type="submit">Proceed to Payment</button>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    

</form>

    </script>
</form>